.main {
  margin: 20px;
  padding: 20px;
  border: 1px solid #000;
  min-height: 100vh; /* 최소 높이를 뷰포트 높이로 설정 */
}

.textHover {
  position: relative;
  display: inline-block;
  padding: 5px;
}

.view {
  position: absolute;
  top: 100%;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
  letter-spacing: 1px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.view.visible {
  opacity: 1;
  visibility: visible;
}
