@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
  font-family: 'Roboto Mono', 'Noto Sans KR', '맑은 고딕', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
